<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @user.avatar.url(:medium)%>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Education:</strong>
  <%= @user.education %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @user.relationship %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> <br>

<div>
  <br>
  <p>
    <%= link_to 'Post Status', new_status_path(:uid => @user.id) %> 
  </p>
</div>

Display all messages <br />
<% if !@user.statuses.blank? %>
  <% for item in @user.statuses %>
  <%= item.created_at %> <br />
  <p>
    <%= item.content %>   
  </p>
   
  <% end %>
   
<% else %>
<% end %>
