<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Education:</strong>
  <%= @user.education %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @user.relationship %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= form_for(@status) do |f| %>
<div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
<div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
<div class="actions">
    <%= f.submit %>
  </div>
<% end %>

Display all messages <br />
<% if !@user.statuses.blank? %>
  <% for item in @user.statuses %>
   <%= item.content %> <br />
   <%= item.created_at %> <br />
  <% end %>
   
<% else %>
<% end %>
